.pollution{
    margin: 5%;
}

.pollutioncard1{
    background-color: white;
    color: white;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pollutioncard1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: black;
}

.pollutioncard1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: black;
}

.pollutioncard1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .pollutioncard1 {
      padding: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .pollutioncard1 h2 {
      font-size: 1.5rem;
    }
  
    .pollutioncard1 p {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .pollutioncard1 {
      padding: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .pollutioncard1 h2 {
      font-size: 1.2rem;
    }
  
    .pollutioncard1 p {
      font-size: 1rem;
    }
  }